<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- VO -->
		<typeAlias alias="USERS" type="com.sidiz.vo.Users" />
		<typeAlias alias="Authmail" type="com.sidiz.vo.Authmail" />
		<typeAlias alias="Boarder" type="com.sidiz.vo.Boarder" />
		<typeAlias alias="Likey_R" type="com.sidiz.vo.Likey_R" />
		<typeAlias alias="Reply" type="com.sidiz.vo.Reply" />
		<typeAlias alias="UploadFile" type="com.sidiz.vo.UploadFile" />
		<typeAlias alias="Basket" type="com.sidiz.vo.Basket" />
		<typeAlias alias="Product" type="com.sidiz.vo.Product" />
		<typeAlias alias="Orders" type="com.sidiz.vo.Orders" />
		
		<!-- BO -->
		<typeAlias alias="UserBasket" type="com.sidiz.bo.UserBasket" />
		<typeAlias alias="TotalOrderPrice" type="com.sidiz.bo.TotalOrderPrice" />
		<typeAlias alias="Comparison_product" type="com.sidiz.bo.Comparison_product" />
	</typeAliases>
</configuration>